<div class="grid">
  <div class="grid__row">
    <div class="grid__col grid__col--sm-12 grid__col--md-6 grid__col--lg-4">
      <div class="grid__box">Column 1</div>
    </div>
    <div class="grid__col grid__col--sm-12 grid__col--md-6 grid__col--lg-4">
      <div class="grid__box">Column 2</div>
    </div>
    <div class="grid__col grid__col--sm-12 grid__col--md-6 grid__col--lg-4">
      <div class="grid__box">Column 3</div>
    </div>
    <div class="grid__col grid__col--sm-12 grid__col--md-6 grid__col--lg-4">
      <div class="grid__box">Column 4</div>
    </div>
  </div>
</div>
