<header class="c-header">
  <div class="o-row">
    <div class="o-col o-col-md-12 o-col-lg-6">
      <div class="c-header__logo">MyLogo</div>
    </div>
    <div class="o-col o-col-md-12 o-col-lg-6">
      <nav class="c-header__nav">
        <a routerLink="/" class="c-header__link">Home</a>
        <a routerLink="/about" class="c-header__link">About</a>
        <a routerLink="/services" class="c-header__link">Services</a>
        <a routerLink="/contact" class="c-header__link">Contact</a>
      </nav>
    </div>
  </div>
</header>
