<header class="header">
  <div class="header__row">
    <div class="header__col header__col--md-12 header__col--lg-6">
      <div class="header__logo">MyLogo</div>
    </div>
    <div class="header__col header__col--md-12 header__col--lg-6">
      <nav class="header__nav">
        <a routerLink="/" class="header__link">Home</a>
        <a routerLink="/about" class="header__link">About</a>
        <a routerLink="/services" class="header__link">Services</a>
        <a routerLink="/contact" class="header__link">Contact</a>
      </nav>
    </div>
  </div>
</header>
